body {
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 80.25rem;
  margin-inline: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 1.5rem;

  & .logo {
    width: 25%;
    max-width: 10.875rem;
  }

  & .menu {
    display: flex;
    justify-content: space-between;
    width: 55%;
    max-width: 272px;

    > a {
      font-family: var(--font-primary);
      color: var(--desaturated-blue);
    }
  }

  @media screen and (width >= 48rem) {
    padding-block: 4rem;
  }
}

.hero {
  padding-block-start: 6rem;

  & .image {
    max-width: 30rem;
    margin-inline: auto;
    margin-block-end: 3rem;
  }

  & .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    > h1 {
      line-height: 1.5;
      font-size: 1.65rem;
      font-family: var(--font-primary);
      font-weight: 700;
      color: var(--very-dark-blue);
    }

    > p {
      line-height: 1.5;
      font-family: var(--font-secondary);
      font-size: 1rem;
      font-weight: 400;
      text-wrap: pretty;
      color: var(--desaturated-blue);
    }

    & .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      > input {
        width: 90%;
        height: 2.5rem;
        padding-inline: 0.75rem;
        font-family: var(--font-primary);
        border-radius: 0.5rem;
        border: 1px solid var(--very-dark-blue);
      }

      > button {
        width: 90%;
        height: 2.5rem;
        border: none;
        border-radius: 0.5rem;
        color: var(--white);
        font-family: var(--font-primary);
        font-weight: 700;
        background-color: var(--bright-blue);
      }
    }
  }

  @media screen and (width >= 48rem) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: initial;

    .image {
      order: 1;
      width: 45%;
      max-width: 31.25rem;
      margin: initial;
    }

    .info {
      width: 45%;
      max-width: 586px;
      text-align: initial;

      > h1 {
        font-size: 2rem;
      }

      .form {
        flex-direction: initial;

        > input,
        > button {
          flex-basis: 200px;
        }

        > input {
          flex-grow: 1;
        }

        > button {
          flex-grow: 0;
        }
      }
    }
  }
}

.productive {
  position: relative;
  margin-block-start: 11.25rem;
  padding-block-end: 5rem;
  background-color: var(--Light-grayish-blue);

  &::before {
    content: "";
    width: 100%;
    height: 5.625rem;
    position: absolute;
    left: 0;
    top: -5.625rem;
    background-image: url(../images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .productive-main {
    display: flex;
    flex-direction: column;
    gap: 5.625rem;
  }

  .productive__img {
    max-width: 30rem;
    margin-inline: auto;
  }

  .productive__texts {
    margin-block-end: 2.5rem;

    > h2 {
      margin-block-end: 1.25rem;
      text-align: center;
      font-family: var(--font-primary);
      font-size: 1.2rem;
      color: var(--very-dark-blue);
    }

    > p {
      line-height: 1.5;
      font-family: var(--font-secondary);
      color: var(--desaturated-blue);

      &:first-of-type {
        margin-block-end: 1.75rem;
      }
    }

    .productive__cta {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      width: max-content;
      margin-inline: auto;
      margin-block-start: 2.5rem;
      font-family: var(--font-secondary);
      color: var(--moderate-cyan);
      border-bottom: 1px solid;
    }
  }

  .card-testimonial {
    width: 95%;
    margin-inline: auto;
    padding: 24px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px var(--light-gray);
    background-color: var(--white);

    .card-testimonial__icon {
      width: 10%;
      margin-block-end: 1rem;
    }

    .card-testimonial__review {
      margin-block-end: 1rem;
      line-height: 1.5;
      font-family: var(--font-secondary);
      color: var(--desaturated-blue);
    }

    .card-user {
      display: flex;
      align-items: center;
      gap: 1rem;

      .card-user__avatar {
        width: 20%;

        > img {
          border-radius: 50%;
        }
      }

      .card-user__info {
        > h2 {
          font-size: 1rem;
          font-family: var(--font-primary);
        }

        > p {
          font-family: var(--font-secondary);
          font-size: 0.75rem;
        }
      }
    }
  }

  @media screen and (width >= 48rem) {
    &::before {
      background-image: url(../images/bg-curve-desktop.svg);
    }

    .productive-main {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      gap: 0;
    }

    .productive__img {
      margin-inline: 0;
      width: 45%;
      order: 1;
    }

    .productive__info {
      width: 45%;

      .productive__texts {
        > h2 {
          font-size: 2rem;
          text-wrap: balance;
          text-align: initial;
        }

        > p {
          max-width: 31.25rem;
        }

        .productive__cta {
          margin-inline: 0;
        }
      }

      .card-testimonial {
        width: 100%;
        max-width: 25rem;
        margin-inline: 0;
      }
    }
  }
}

.newsletter {
  background-color: var(--desaturated-blue);

  > .container {
    padding-block: 3.75rem;

    .newsletter__texts {
      margin-block-end: 1.5rem;
      text-align: center;
      color: var(--white);

      > h2 {
        margin-block-end: 1.5rem;
        font-family: var(--font-primary);
      }

      > p {
        line-height: 1.5;
        font-family: var(--font-secondary);
      }
    }

    .newsletter__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
      width: 80%;
      margin-inline: auto;

      > input,
      > button {
        width: 100%;
        height: 32px;
        font-family: var(--font-primary);
        border: none;
      }

      > input {
        padding-inline: 0.75rem;
        color: var(--desaturated-blue);
      }

      > button {
        font-weight: 700;
        color: var(--white);
        background-color: var(--bright-blue);
      }
    }

    @media screen and (width >= 48rem) {
      display: flex;
      justify-content: space-between;
      padding-block: 6.25rem;

      .newsletter__texts,
      .newsletter__form {
        width: 45%;
      }

      .newsletter__texts {
        max-width: 32.25rem;
        margin-block-end: initial;
        text-align: initial;

        > h2 {
          font-size: 1.5rem;
        }
      }

      .newsletter__form {
        align-items: initial;
        margin-inline: initial;
        max-width: 480px;

        > button {
          max-width: 200px;
        }
      }
    }
  }
}

.footer {
  background-color: var(--very-dark-blue);

  .container {
    padding: 4rem 2.375rem;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 2.375rem;

      .footer-nav__primary {
        .footer-logo {
          .logo {
            display: block;
            width: 50%;
            max-width: 11rem;
          }
        }
      }

      .footer-nav__secondary {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .footer-nav__contact {
          display: flex;
          gap: 1rem;
          flex-direction: column;

          .contact-item {
            display: flex;
            align-items: center;
            gap: .75rem;

            > p {
              font-family: var(--font-secondary);
              color: var(--white);
            }
          }
        }

        .footer-nav__about {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          > a {
            font-family: var(--font-secondary);
            color: var(--white);
          }
        }

        .footer-nav__terms {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          > a {
            font-family: var(--font-secondary);
            color: var(--white);
          }
        }

        .footer-nav__social {
          display: flex;
          justify-content: center;
          gap: 0.75rem;

          > a {
            width: 2rem;
            border-radius: 50%;
            padding: 0.25rem;
            border: 1px solid var(--white);

            > figure {
              filter: invert(1);
            }
          }
        }
      }

      .atributtion {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        text-align: center;

        > p {
          font-family: var(--font-secondary);
          font-size: 0.75rem;
          color: var(--white);

          > a {
            color:  inherit;
            text-decoration: underline;
          }
        }
      }
      @media screen and (width >= 48rem) {        
        .footer-nav__secondary {
          max-width: 68.5rem;
          flex-direction: row;
          justify-content: space-between;
  
          .footer-nav__social {
            align-self: flex-start;
          }
        }

        .atributtion {
          flex-direction: row;
          justify-content: center;
        }
      }
    }

    @media screen and (width >= 48rem) {
      padding-inline: 0;
    }
  }
}
