body {
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 80.25rem;
  margin-inline: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 1.5rem;

  & .logo {
    width: 25%;
    max-width: 10.875rem;
  }

  & .menu {
    display: flex;
    justify-content: space-between;
    width: 55%;
    max-width: 272px;

    > a {
      font-family: var(--font-primary);
      color: var(--desaturated-blue);
    }
  }

  @media screen and (width >= 48rem) {
    padding-block: 4rem;
  }
}

.hero {
  padding-block-start: 6rem;

  & .image {
    max-width: 30rem;
    margin-inline: auto;
    margin-block-end: 3rem;
  }

  & .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    > h1 {
      line-height: 1.5;
      font-size: 1.65rem;
      font-family: var(--font-primary);
      font-weight: 700;
      color: var(--very-dark-blue);
    }

    > p {
      line-height: 1.5;
      font-family: var(--font-secondary);
      font-size: 1rem;
      font-weight: 400;
      text-wrap: pretty;

    }

    & .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      > input {
        width: 90%;
        height: 2.5rem;
        padding-inline: 0.75rem;
        font-family: var(--font-primary);
        border-radius: .5rem;
        border: 1px solid var(--very-dark-blue);
      }

      > button {
        width: 90%;
        height: 2.5rem;
        border: none;
        border-radius: .5rem;
        color: var(--Light-grayish-blue);
        font-family: var(--font-primary);
        font-weight: 700;
        background-color: var(--bright-blue);
      }
    }
  }
}